@import "../../components/StylesBase.scss";

.photoPlugCont {
    min-width: 240px;
    min-height: 315px;

    max-width: 240px;
    max-height: 315px;

    border-radius: 10px;

    overflow: hidden;

    background-color: #FFFFFF;
}
.photoPlug {
    background-size: 240px auto;

    width: 240px;
}


.cardContaineer {
    width: 1000px;
    // height: 100%;

    padding: 20px;

    background: #F5F6F8;
    border-radius: 10px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 10px;



    &__inform {
        display: flex;
    }

    &__complain{
        margin: 10px 0;
        max-width: 960px;
        & > p {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 104%;
            letter-spacing: 2px;
            color: #414141;

            overflow-wrap: break-word;

            & > span {
                font-weight: 700;
            }
        }
    }

    &__buttons{
        display: flex;
        justify-content: space-between;
    }
}

.informContaineer {
    margin-left: 20px;
    // display: flex;
    // gap: 35px;

    & > p {
        margin: 5px 0 0 0;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 104%;
        letter-spacing: 2px;
        color: #414141;
    }

    &__description {
        & > p {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 104%;
            letter-spacing: 2px;
            color: #414141;

            overflow-wrap: break-word;
        }
        height: 210px;
        max-width: 700px;
        margin-top: 10px;
        overflow: auto;
    }

    &__nc {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        &_name{
            margin: 0;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 20px;
            letter-spacing: 2px;
            color: #414141;
        }

        &_city{
            margin: 0;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 104%;
            letter-spacing: 2px;
            color: #414141;
        }
    }
}