@import "../../components/StylesBase.scss";

.complainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnsCont {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.inputTextAreaA {
    height: 350px;
    width: 800px;

    border-radius: 10px;

    background-color: #F5F6F8;

    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;

    border: none;
    outline: none;

    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 83%;
    letter-spacing: 2px;
    color: #414141;
    
    resize: none;

    &::placeholder {
        color: #A5A3A3;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 83%;
        letter-spacing: 2px;
    }
}