@import "../../components/StylesBase.scss";

.textPageContaineer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textStyleP {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    letter-spacing: 3px;

    color: #414141;

    margin: 0;
    margin-bottom: 100px;
    padding: 15px 0;
}