@import "../../components/StylesBase.scss";

.registrationPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrationContaineer {
    width: 520px;
    height: 100%;
    box-sizing: border-box;

    padding: 40px 10px 60px;

    background-color: #FFFFFF;
    border-radius: 10px;

    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}


.noAccountText {
    margin: 4px 0 0 0;
    color: #414141;

    font-family: 'Roboto', sans-serif;
    font-style: normal;

    & > a {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        color:#6D50BF;
    }
}

.errorLoginText {
    width: 340px;

    & > p {
        height: 20px;
        margin: 5px 0 0 0;
        padding: 0;
        

        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        color:#ff4e4e;
    }
}