@mixin logo($width, $height) {
    background-image: url("../img/logo.svg");
    width: $width;
    height: $height;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loginIcon {
    background-image: url("../img/loginIcon.svg");
    width: 119px;
    height: 39px;

    &:hover {
        //background-image: url("../img/loginIconHovered.svg");
        filter: grayscale(35%);
    }
}

.contentContaineer {
    // position: relative;
    width: 1440px;
    // width: 100%;
    min-height: calc(100vh - 160px);
    
    background-color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;

    margin-left: auto;
    margin-right: auto;
}
