@import "../StylesBase.scss";

.titleText {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    letter-spacing: 3px;

    color: #414141;

    margin: 0;
    padding: 15px 0;
}

.titleTextContaineer {
    padding: 5px 20px;
    border-bottom: solid #414141 6px;
}